*.pro.*
*.autosave
Makefile*
*.o
build*
*.user*

# Generated MOC, resource and UI files
moc_*
qrc_*
ui_*

# Windows-specific files
Thumbs.db
desktop.ini
# Mac-specific 
.DS_Store

# QML auto generated
*.db
*.db-*
*.cflags
*.creator
*.cxxflags
*.files
*.includes
*.qtds
